@using FluentBootstrap
@using WEBAPP.Helper
@using DataAccess.SEC
@using UtilityLib

@model SECS02P002Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@using (var form = Html.Bootstrap().Form().SetId("form1").SetEnctype().SetHorizontal().Begin())
{
    @form.ValidationSummary(true).AddCss(Css.Hidden)
    @Html.AntiForgeryToken()

    using (var rowInfo = Html.Bootstrap().GridRow().Begin())
    {
        using (rowInfo.GridColumn(12).SetXs(12).Begin())
        {
            using (var row1 = Html.Bootstrap().GridRow().Begin())
            {
                using (row1.GridColumn(6).Begin())
                {
                    @*@form.InputFileuploadFor(m => m.EXCEL_UPLOAD, allowExt: ".xlsx", isRequired: true)*@
                    @Html.GetVSMFileUploadExcelFor(m => m.EXCEL_UPLOAD, true, 2, false)
                }

                using (row1.GridColumn(6).Begin())
                {
                    @*<a href="javascript:void(0)" id="LoadDataExcel" name="LoadDataExcel" value="LoadDataExcel" class="btn btn-xs btn-white btn-info btn-round">
                            Load File
                        </a>*@
                }
            }

            using (var row1 = Html.Bootstrap().GridRow().Begin())
            {
                using (row1.GridColumn(6).Begin())
                {
                    @form.DatepickerFor(m => m.USER_EFF_DATE)
                }

                using (row1.GridColumn(6).Begin())
                {
                    @form.DatepickerFor(m => m.USER_EXP_DATE)
                }
            }

        }
    }
}

@section modals{
    @Html.GetVSMModalValidate(m => m.EXCEL_UPLOAD)
}

@section scripts{
    <script>
        $("#btnContinueValExcel").click(function () {
            var button = $(this);
            var modal = button.closest(".modal");
            modal.modal("hide");
        });

        $(document).ready(function () {
            $("#USER_EFF_DATE").BetweenDate({
                from_ctrl: 'USER_EFF_DATE',
                to_ctrl: 'USER_EXP_DATE',
            });
        });
    </script>

    @*@Html.GetVSMFileUploadExcelScriptFor(m => m.EXCEL_UPLOAD, PRG_CODE: "ZQM013P")*@
    @Html.GetVSMFileUploadExcelScriptFor(m => m.EXCEL_UPLOAD, prgCode: "ZVG821P001")
}