@using FluentBootstrap
@using WEBAPP.Helper
@using DataAccess.SEC
@using UtilityLib
@using UtilityLib
@model SECS02P001Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@using (var form = Html.Bootstrap().Form().SetId("form1").SetHorizontal().Begin())
{
    @form.ValidationSummary(true).AddCss(Css.Hidden)
    @Html.AntiForgeryToken()

    using (var rowInfo = Html.Bootstrap().GridRow().Begin())
    {
        using (rowInfo.GridColumn(12).SetXs(12).Begin())
        {
            using (var row = Html.Bootstrap().GridRow().Begin())
            {
                using (row.GridColumn(6).Begin())
                {
                    @form.InputFor(m => m.USG_NAME_TH)
                }
                using (row.GridColumn(6).Begin())
                {
                    @form.InputFor(m => m.USG_NAME_EN)
                }
            }

            using (var row = Html.Bootstrap().GridRow().Begin())
            {
                using (row.GridColumn(6).Begin())
                {
                    @form.InputFor(m => m.USG_CODE)
                }
                using (row.GridColumn(6).Begin())
                {
                    @form.SelectFor(m => m.USG_STATUS, Model.USG_STATUS_MODEL.ToSelectList("Value", "Text", Model.USG_STATUS), IsSearch: true)
                }
            }
        }
    }
}
@using (var row = Html.Bootstrap().GridRow().SetId("rowGridSearch").SetVisibility(Visibility.Hidden).Begin())
{
    using (row.GridColumn(12).Begin())
    {
        @Html.Bootstrap().Table().SetId("GridSearch").SetStyle(TableStyle.TableStripedBorderedHover)
    }
}


@section scripts{

    <script type="text/javascript">
        var RenderACTIVE = function (data, type, full, meta) {
            var tag;
            if (data != 'E') {
                tag = '<span class=\"label label-success arrowed\">@Translation.SEC.SECS02P001.USG_STATUS_Active</span>';
            }
            else {
                tag = '<span class=\"label label-danger arrowed-in\">@Translation.SEC.SECS02P001.USG_STATUS_NonActive</span>';
            }
            return tag;
        };
    </script>

    @Html.GridScript("Search",
        new GridConfig
        {
            GetConfig = new DefaultConfig(Url.Action("Search")),
            DeleteConfig = new DefaultConfig(Url.Action("DeleteSearch")),
            DefaultBinding = Model.IsDefaultSearch,
            ScrollX = false,
            WidthType = ColumnsWidthType.Percentage
        },
        Html.GridColumnCommand(Html.GridCommand(StandardButtonName.Edit, Translation.CenterLang.Center.Edit, Url.Action(StandardButtonName.Edit), FaIcons.FaPencil, TextColor.orange2, new VSMParameter("COM_CODE"), new VSMParameter("USG_ID")),
        Html.GridCommand("ConfPrg", Translation.SEC.SECS02P001.SetProgramPermission, Url.Action("ConfPrg"), FaIcons.FaIndent, TextColor.green, new VSMParameter("COM_CODE"), new VSMParameter("USG_ID")),
        Html.GridCommand("ConfSysSeq", Translation.SEC.SECS02P001.SortSystemSequence, Url.Action("ConfSysSeq"), FaIcons.FaSort, TextColor.light_blue, new VSMParameter("COM_CODE"), new VSMParameter("USG_LEVEL"), new VSMParameter("USG_ID")),
        Html.GridCommand("ConfSysSeq", Translation.SEC.SECS02P001.SortProgramSequence, Url.Action("ConfPrgSeq"), FaIcons.FaSort, TextColor.light_green, new VSMParameter("COM_CODE"), new VSMParameter("USG_LEVEL"), new VSMParameter("USG_ID"))),
        //Html.GridCommand("ConfUser", Translation.CenterLang.Center.ConfigUser, Url.Action("ConfUser"), FaIcons.FaUser, TextColor.blue, "(full.ACTIVE == 'Y')", new VSMParameter("COM_CODE"), new VSMParameter("USG_ID"))),
        //Html.GridColumnCommand(Html.GridCommand(StandardButtonName.Info, Translation.CenterLang.Center.Info, Url.Action(StandardButtonName.Info), FaIcons.FaInfoCircle, TextColor.None, new VSMParameter("COM_CODE"), new VSMParameter("USG_ID"))),
        new GridColumn("COM_CODE").SetKey().SetNotVisible(),
        new GridColumn("USG_ID").SetKey().SetNotVisible(),
        new GridColumn("USG_LEVEL").SetKey().SetNotVisible(),
        new GridColumn("USG_CODE", Translation.SEC.SECS02P001.USG_CODE, 10),
        new GridColumn("USG_NAME_TH", Translation.SEC.SECS02P001.USG_NAME_TH, 30),
        new GridColumn("USG_NAME_EN", Translation.SEC.SECS02P001.USG_NAME_EN, 30),
        new GridColumn("USG_STATUS", Translation.SEC.SECS02P001.USG_STATUS, 10, ColumnsType.None, ColumnsTextAlign.Center, "RenderACTIVE")
        )
}





